# dist
/internal/assets/dist

# binaries
/tinyauth

# test docker compose
/docker-compose.test*

# users file
/users.txt

# secret test file
/secret*

# apple stuff
.DS_Store

# env
/.env

# tmp directory
/tmp

# version files
/internal/assets/version

# data directory
/data

# config file
/config.yml

# binary out
/tinyauth.db
/resources