app_url: "https://tinyauth.example.com"
log_level: "info"
resources_dir: "/etc/tinyauth/resources"
database_path: "/var/lib/tinyauth/tinyauth.db"
disable_analytics: false
disable_resources: false
disable_ui_warnings: false

server:
  port: 8080
  address: "0.0.0.0"
  socket_path: "/var/run/tinyauth.sock"
  trusted_proxies: "10.10.10.0/24"

auth:
  users: "user:hash"
  users_file: "/etc/tinyauth/users.yaml"
  secure_cookie: true
  session_expiry: 3600
  login_timeout: 300
  login_max_retries: 5

oauth:
  whitelist: "example.com"
  auto_redirect: "pocketid"
  providers:
    google:
      client_id: "some-client-id"
      client_secret: "some-client-secret"
      client_secret_file: "some-client-secret-file"
      scopes:
        - "openid"
        - "email"
        - "profile"
      redirect_url: "https://tinyauth.example.com/oauth/callback/google"
      auth_url: "https://accounts.google.com/o/oauth2/auth"
      token_url: "https://oauth2.googleapis.com/token"
      user_info_url: "https://www.googleapis.com/oauth2/v3/userinfo"
      insecure: false
      name: "Google"

ui:
  title: "Tinyauth"
  forgot_password_message: "Contact your administrator to reset your password."
  background_image: "/static/background.jpg"

ldap:
  address: "ldap.example.com:389"
  base_dn: "dc=example,dc=com"
  bind_dn: "cn=admin,dc=example,dc=com"
  bind_password: "password"
  search_filter: "(uid={username})"
  insecure: false
